body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide overflow to ensure no scrollbars */
}

img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.back-home {
    display: inline-block;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    background-color: transparent;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;

    position: absolute;
    bottom: 22vh;
    right: 42vw;
}

.back-home:hover {
    background-color: #1188be;
}

.back-home:active {
    background-color: #0a5e85;
}
